$grey-primary: #414a4c;
$grey-header: #828282;
$blue-primary: #3fc1c9;
$blue-secondary: #364f6b;
$background-one: #fcfcfc;
$background-two: #f8f0f0;
$background-three: #cca3a3;

.font-work {
  font-family: Work Sans, sans-serif;
}
