<footer>
  <div class="social-links">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 social-network social-circle">
      <li class="nav-item">
        <a
          href="https://www.facebook.com/Azure-Sky-Ragdolls-2203345016408284/"
          target="_blank"
          class="nav-link icoFacebook"
          title="Facebook"
          ><i class="fa fa-facebook"></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="links">
    <nav class="footer-links">
      <ul class="footer-items">
        <li><a href="./about.html">About</a></li>
        <li>Web Design</li>
        <li><a href="./purchasing.html">Purchasing</a></li>
        <li><a href="./purchasing.html#faq">FAQ</a></li>
        <li>
          <a href="mailto:AzureSkyRagdolls@gmail.com" target="_blank"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="copyright">
    Azure Sky Ragdolls &copy; <span id="date"> 2021</span>
  </div>
</footer>
<script type="module" src="assets/app.js"></script>
