@import "utils";
#litters {
  margin-top: 2em;
  // height: 75vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  display: block;
}
#upcoming {
  margin-top: 2em;
}
.blog-img {
  max-height: 30vh;
  border-radius: 20px;
}
.blog-posted {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.posted {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  grid-gap: 20px;
}
.post-nav {
  display: flex;
  justify-content: space-evenly;
}

.picture {
  img {
    // width: 100%;
    margin: 0 auto;
    object-fit: contain;
    max-height: 250px;
    border-radius: 20px;
  }
}

.litters-nav {
  display: flex;
  justify-content: center;
  li {
    padding: 0.5em;
  }
}
.litter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: #414a4c;
  font-family: "Open Sans";
  font-size: 18px;
  text-align: center;
  // border-bottom: 1px solid #eee;
}

// background for when litters are created

// Header
.upcoming-litter {
  // color: rgb(175, 168, 214);
  // color: rgb(153, 145, 197);
  // color: $blue-primary;
  // color: ;
  // color: $grey-header;
  padding: 0.5em;
  font-size: 18px;
  font-family: "work sans";
}

.upcoming-litter-header {
  color: $background-three;
  text-align: center;
  font-family: "work sans";
  font-weight: 600;
  font-size: 22px;
  padding: 0.5em;
}

.upcoming-litter-subheader {
  // color: rgb(133, 123, 187);
  color: #a5a3a3;
  font-size: 18px;
  font-weight: 600;
}
.upcoming-litter-text-container {
  // padding: 1em 1em 0.5em;

  a {
    // margin-bottom: ;
    padding: 1em;
    font-weight: 600;
    font-size: smaller;
    color: $background-three;
    // text-decoration: underline;
  }
}
.upcoming-litter-text {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.reserved {
  color: rgb(240, 107, 107);
  font-weight: 600;
  font-size: 14px;
  font-family: "work sans";
  text-transform: capitalize;
}
// Change list style
.remember{
  li{
    list-style-type: disc;
  }
}
// Adjust Font Sizes
.upcoming-litter {
  font-size: 1.35rem;
}
.upcoming-litter-header {
  font-size: 1.5rem;
}
.upcoming-litter-subheader {
  font-size: 1.15rem;
}
.desc {
  font-size: 1rem;
}
.reserved {
  font-size: 18px;
}
