---
layout: default
---

{{ content }}

<section>
  <h3>Next Litter</h3>

  <ul>
    <li>
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      <time datetime="{{ post.date }}">
        <small>
          <strong>{{ post.date | date_to_string }}</strong>
          {% if author %} by {{ author.name }} {% endif %}
        </small>
      </time>
      {{ post.excerpt | strip_newlines | truncate: 180 }}
    </li>
  </ul>
</section>

<div class="litter-container">
  <div class="picture">
    <img src="./Assets/saphire-kittens.jpg" alt="" srcset="" />
  </div>
  <div class="details">
    <div>
      <h2 class="upcoming-litter">Upcoming Litter</h2>
      <!-- What cat it is -->

      <h3 class="upcoming-litter-header">{{ post.title }} Kittens</h3>
    </div>
    <!-- Title for Cats -->
    <div class="upcoming-litter-text-container">
      <!-- desc of kittens -->
      <div class="upcoming-litter-text">
        <h3 class="upcoming-litter-subheader">Kittens' Description:</h3>
        <p class="desc">{{ post.body }}</p>
        <p class="desc">{{ post.info }}</p>
      </div>
    </div>
    <div class="upcoming-litter-text-container">
      <h4 class="reserved" data-boolean="{{post.reserved}}">
        All of these Kittens are already Reserved
      </h4>
      <a href="#form">Click here to Reserve</a>
    </div>
  </div>
  <div class="arrival">
    <h4 class="arrival-text">
      <p class="upcoming-litter">{{post.date}}</p>
    </h4>
  </div>

  <div class="litter-bg-seperator"></div>
</div>
